<div id="panellComp" class="p-3" >
  <form [formGroup]="webPageForm" >

    <label for="numPags">Número de pàgines: </label>
    <div class="selector">
      <button type="button" class="btn btn-danger" (click)="decrementar_pags()">-</button>
      <input type="number" (keydown)="calculateWebPrice()" formControlName="numPags">
      <button type="button" class="btn btn-success" (click)="incrementar_pags()">+</button>
      <app-modal></app-modal>
    </div>
    <div *ngIf="webPageForm.controls['numPags'].errors?.required">És obligatori.</div>
    <div *ngIf="webPageForm.controls['numPags'].errors?.min">Insereix com a mínim 1 pàgina.</div>

    <br>
    <label for="numIdiomes">Número d'idiomes: </label>
    <div class="selector">
      <button type="button" class="btn btn-danger" (click)="decrementar_idiomes()">-</button>
      <input type="number" (keydown)="calculateWebPrice()" formControlName="numIdiomes">
      <button type="button" class="btn btn-success"(click)="incrementar_idiomes()">+</button>
      <app-modal></app-modal>
    </div>
    <div *ngIf="webPageForm.controls['numIdiomes'].errors?.required">És obligatori.</div>
    <div *ngIf="webPageForm.controls['numIdiomes'].errors?.min">Insereix com a mínim 1 idioma.</div>
  </form>
</div>