.selector {
  display: inline-flex;
  margin: 0.2rem;
  height: min-content;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#panellComp {
  border: 3px solid black;
  border-radius: 15px;
  width: max-content;
  padding: 10px;
}

app-modal,
button {
  margin-left: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  height: min-content;
}

input{
  height: 2.4rem;
  margin-left: 5px;
}