<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/welcome">Inici</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pressupost">Pressupost</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" id="containerAppComp">
  <h1 class="display-2">Calculadora de pressupostos</h1>
</div>
<router-outlet></router-outlet>