<div class="container">

  <div class="row">
    <div class="col">

      <h2 class="display-4">Pressupostos web personalitzats</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Necessites una <strong>web</strong> amb diverses pàgines i en múltiples
        idiomes? <br />
        Vols que analitzem el teu <strong>CEO</strong> i que t'ajudem a millorar el
        posicionament de la teva web? <br />
        O vols una <strong>campanya de Google Ads</strong> per promocionar algun
        producte en concret? <br /><br />
        Utilitza la nostra calculadora per conèixer el preu total dels serveis que
        necessites.
      </p>
      <p class="lead">
        No hi ha <strong>costos amagats</strong> ni extres que aparèixen al final de
        tot.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark" onclick="location.href='/pressupost'">
        Començar el pressupost
      </button>
    </div>
  </div>
</div>